## Visual Studio / .NET
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

# Test Results
TestResults/
[Tt]est[Rr]esult*/

# Rider / JetBrains
.idea/
*.sln.iml

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS files
.DS_Store
Thumbs.db
